html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  flex: 1; /* Add this line */
  max-width: 900px;
  margin: auto;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

footer {
  flex-shrink: 0; /* Add this line */
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 15px 10px;
}



h1, h2 {
  color: #2c3e50;
}

section {
  margin-bottom: 25px;
}

ul {
  padding-left: 20px;
}

.download-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #1a242f;
}



.social-icons img {
  width: 24px;
  margin: 0 8px;
  vertical-align: middle;
}
